@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
html,body{
  position: relative;
}
body{
  height: 160vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* background: linear-gradient(135deg, #595a5a, #000000);  */
  /* background-image: url(matt-gross-9aCkSl6YcXg-unsplash.jpg); */
  color: white;
  
}
#bg 
{	
  position:fixed;
  background-size: cover;
	background: cover;
  background: linear-gradient(145deg, #192839 50%, #1ab4e2 115%);
  width: fit-content;
  height:160vh ;
	margin: 0;
  padding: 0;
  z-index: -2;
}
img{
  width: 400px;
}
.iste_logo{
  position: absolute;
  top: 3%;
  left: 1%;
  
}
img.iste{
  width: 190px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.container{
  max-width: 700px;
  margin-top: 5%;
  width: 100%;
  background-color: rgba(175, 169, 169, 0.171);
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  /* opacity: 0.4; */


}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg,  #5f2bda, #532828);
}

.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 35px;
  width: calc(100% / 3 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ffffff;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  background-color: rgba(187, 197, 212, 0.212);
  color: #ffffff;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #ffffff;
}

 form .button{
   height: 45px;
   width: 100%;
   margin: 35px 0
   
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: rgb(255, 255, 255);
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg,  #919797, #3f3c3c);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #919797, #3f3c3c);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  body{
    height: 92vh;
  }
    .prophyl{
    width: 240px;
  }

  .container .content .category{
    flex-direction: column;
  }
}
